# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Test cache
.pytest_cache/
